@tailwind base;
@tailwind components;
@tailwind utilities;


.cs{
    
    color: linear-gradient(90deg, #FF6B00 9.32%, #8A00DE 46.3%, #00A070 80.25%);

}

.vm{
    border: 2px solid rgba(255, 255, 255, 0.11);

    background: rgba(255, 255, 255, 0.08);
    
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.25);
}